<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <file>tests/Feature/MasterSetupTest.php</file>
            <file>tests/Feature/ConfigTest.php</file>
            <file>tests/Feature/SuperAdminTest.php</file>
            <file>tests/Feature/CompanyCreationTest.php</file>
            <file>tests/Feature/AuthTest.php</file>
            <file>tests/Feature/AdminModule/CompanyTest.php</file>
            <file>tests/Feature/AdminModule/UserTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="testing_bj"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
